PyYAML
-e git+https://github.com/QualiSystems/cloudshell-L1-networking-core.git@refactoring#egg=cloudshell-L1-networking-core
-e git+https://github.com/QualiSystems/cloudshell-core.git@dev#egg=cloudshell-core
-e git+https://github.com/QualiSystems/cloudshell-cli.git@dev#egg=cloudshell-cli