PyYAML
git+https://github.com/QualiSystems/cloudshell-L1-networking-core.git@dev#egg=cloudshell-L1-networking-core
git+https://github.com/QualiSystems/cloudshell-core.git@dev#egg=cloudshell-core
git+https://github.com/QualiSystems/cloudshell-cli.git@dev#egg=cloudshell-cli
